@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/*Variaveis*/
$font-principal:"Lobster";
$background-color:rgba(46, 47, 55, 0.994);

/*Zerando valores padrão dos navegadores*/ 
*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/*Sessão main*/
.sessao-principal{
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  height: 100vh;
  background-color:$background-color;
  width: 100%;

  /*Imagem de fundo do main - pai*/
  .img-section{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;


    /*Configurando imagem*/
    img{
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: .3;
    }
  }

  /*Definindo alguns valores com mixin*/
  @mixin formElement($border,$outline,$width,$height,$padding,$margin) {
    border: $border;
    outline:$outline;
    width: $width;
    height: $height;
    padding: $padding;
    margin: $margin;
  }

  /*Formulario de login*/
  .form-login{
    position: relative;
    color: #fff;
    z-index: 1;
    border:none;
    width: 60%;
    box-shadow:1px 1px 1rem #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:30rem;
    border-radius: .4rem;

    /*Dados pessoais do dev*/
    .form-proprie{
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content:center;
      align-items:center;
      width: 100%;
      height: 40%;
      background-color:rgba(68, 98, 114, 0.844);

      /*Nome "Dados pessoais"*/
      h2{
        position: absolute;
        top: .4rem;
        text-shadow: 1px 1px 1px #000;
        font-family:$font-principal;
      }

      /*Container do nome e sobrenome*/
      .dados-complementares{
        display: flex;
      }

      /*Estilizando campos inputs*/ 
      input{
        @include formElement(none,none,50%,2rem,.4rem .4rem,.3rem);
        border-radius:.4rem ;
      }
    }
        
    /*parte de genero do form*/ 
    .form-proprie-genero{
      position: relative;
      display:flex;
      flex-direction: column;
      text-align: center;
      flex-wrap: wrap;
      align-items: center;
      width: 100%;
      justify-content: center;
      height: 25%;
      background-color:rgb(127, 133, 165);

      /*Nome "Generos" do form*/
      h2{
        position: absolute;
        top: .5rem;
        font-family:$font-principal;
        text-shadow: 1px 1px 1px #000;
      }

      /*container com gêneros*/
      .elementos-genero{
        display:flex;
        flex-wrap: wrap;
        gap: 1rem;
        font-family:$font-principal;
      }
    }

    /*Parte de conhecimento do dev no form*/
    .form-proprie-conhecimento{
      position: relative;
      display: flex;
      flex-direction: column;
      align-items:center;
      justify-content: space-around;
      font-family:$font-principal;
      width: 100%;
      height: 35%;
      background-color:rgba(68, 98, 114, 0.844);
      
      /*nome "conhecimento"*/
      h2{
        position: absolute;
        top: .4rem;
        text-shadow: 1px 1px 1px #000;
        letter-spacing:2px;
      }

      /*Container com linguagens para dev*/
      .linguagens-prog{
        font-size: 15px;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
      }
    }

    /*Botão de enviar form*/
    .btn-form{
      position: absolute;
      bottom: -2rem;
      outline: none;
      border: none;
      width: 100%;
      height: 3rem;
      font-family: $font-principal;
      color: #fff;
      cursor: pointer;
      transition: all .4s;
      background-color:rgb(72, 79, 116);
      border-radius:.4rem;

      /*Animação de hover no botão enviar*/ 
      &:hover{
        transform: scale(1.1);
      }
    }
  }

  /*Estilização do botão voltar*/
  a{
    display:block;
    position: absolute;
    bottom: .2rem;
    right: 1%;
    color: #fff;
    background-color:#07a;
    padding:.4rem .4rem;
    text-decoration:none;
    width: 5rem;
    max-width: 80%;
    text-align: center;
    border-radius:.4rem;
    font-family: arial;
  }
}

/*Responsividade*/
@media(max-width:345px){
  .sessao-principal{
    .form-login{
      width:90%;
    }
  }
  
  
}
