@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.sessao-principal {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(46, 47, 55, 0.994);
  width: 100%;
}
.sessao-principal .img-section {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sessao-principal .img-section img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}
.sessao-principal .form-login {
  position: relative;
  color: #fff;
  z-index: 1;
  border: none;
  width: 60%;
  box-shadow: 1px 1px 1rem #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30rem;
  border-radius: 0.4rem;
}
.sessao-principal .form-login .form-title {
  position: absolute;
  top: -4rem;
  font-size: 25px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.sessao-principal .form-login .form-proprie {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40%;
  background-color: rgba(68, 98, 114, 0.844);
}
.sessao-principal .form-login .form-proprie h2 {
  position: absolute;
  top: 0.4rem;
  text-shadow: 1px 1px 1px #000;
  font-family: "Lobster";
}
.sessao-principal .form-login .form-proprie .dados-complementares {
  display: flex;
}
.sessao-principal .form-login .form-proprie input {
  border: none;
  outline: none;
  width: 50%;
  height: 2rem;
  padding: 0.4rem 0.4rem;
  margin: 0.3rem;
  border-radius: 0.4rem;
}
.sessao-principal .form-login .form-proprie-genero {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  justify-content: center;
  height: 25%;
  background-color: #7f85a5;
}
.sessao-principal .form-login .form-proprie-genero h2 {
  position: absolute;
  top: 0.5rem;
  font-family: "Lobster";
  text-shadow: 1px 1px 1px #000;
}
.sessao-principal .form-login .form-proprie-genero .elementos-genero {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  font-family: "Lobster";
}
.sessao-principal .form-login .form-proprie-conhecimento {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: "Lobster";
  width: 100%;
  height: 35%;
  background-color: rgba(68, 98, 114, 0.844);
}
.sessao-principal .form-login .form-proprie-conhecimento h2 {
  position: absolute;
  top: 0.4rem;
  text-shadow: 1px 1px 1px #000;
  letter-spacing: 2px;
}
.sessao-principal .form-login .form-proprie-conhecimento .linguagens-prog {
  font-size: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.sessao-principal .form-login .btn-form {
  position: absolute;
  bottom: -2rem;
  outline: none;
  border: none;
  width: 100%;
  height: 3rem;
  font-family: "Lobster";
  color: #fff;
  cursor: pointer;
  transition: all 0.4s;
  background-color: #484f74;
  border-radius: 0.4rem;
}
.sessao-principal .form-login .btn-form:hover {
  transform: scale(1.1);
}
.sessao-principal a {
  display: block;
  position: absolute;
  bottom: 0.2rem;
  right: 1%;
  color: #fff;
  background-color: #07a;
  padding: 0.4rem 0.4rem;
  text-decoration: none;
  width: 5rem;
  max-width: 80%;
  text-align: center;
  border-radius: 0.4rem;
  font-family: arial;
}

@media (max-width: 345px) {
  .sessao-principal .form-login {
    width: 90%;
  }
}

/*# sourceMappingURL=index.css.map */
